<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MJC | Southside</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="/assets/adminlte/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/adminlte/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/adminlte/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/adminlte/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/assets/simple-pm.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="skin-black fixed" ng-app="simple-pm">
        <div spm-top-nav></div>
        <div class="wrapper">
          <!-- <aside class="left-side sidebar-offcanvas">
            <div spm-sidebar-menu></div>
          </aside> -->
          <aside class="right-side">
            <div class="content" ui-view></div>
          </aside>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="/assets/adminlte/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/adminlte/js/AdminLTE/app.js" type="text/javascript"></script>

        <script src="/assets/build.js"></script>

      </body>
</html>
