<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/materialize/dist/css/materialize.css" />
  </head>

  <body ng-app="simplePM" class="">
    <nav class="blue-grey z-depth-2" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SimplePM</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>-->
      </div>
    </nav>

    <div class="container">
      <div ui-view></div>
    </div>

    <script src="/assets/jquery/dist/jquery.js"></script>
    <script src="/assets/materialize/dist/js/materialize.js"></script>
    <script src="/assets/angular/angular.js"></script>
    <script src="/assets/ui-router/release/angular-ui-router.js"></script>
    <script src="/assets/build.js"></script>
  </body>
</html>
