.new-work-item-select {
  margin-bottom: 20px;
}
.toggle-existing-editable {
  float: right;
  margin-top: -15px;
  box-shadow: none;
}
.formly.row,
.formly.row .formly-field {
  margin-bottom: 0;
}
.formly.row .formly-field:first-child {
  padding-left: 0;
}
.formly.row .formly-field:nth-last-child(2) {
  padding-right: 0;
}
.formly-field-group ng-form {
  margin: 0;
}
